$font-main : "Be Vietnam Pro", sans-serif;

// dark mode
$color-bg-dark: #1E293A;
$color-text-light: #94A3B8;

$color-input: #324055;

// .dark-theme {
//     --White: #1e293b;
//     --Heading: #94a3b8;
//     --Input: #324055;
//     --Body-Text: #fff;
//     --Note: #95989d;
//     --Stroke: #283548;
//     --bg-table: #28354852;
//     --bg-table-1: #28354852;
//     --hv-item: #ffffff24;

// }


// Color dark mode #1E293A
// Color hover #2275FC