mixin form-search
    form(
        action ="#" 
        class  = "form form__search"
    )
        input(type="text" placeholder="Search here..." class="")
        button(type="submit" class="")
            i(class="fa-solid fa-magnifying-glass")


//- mixin form-create