header(class="header")
    div(class="header__wrap")
        div(class="header__left")
            //- logo
            a(href="#" class="header__logo")
                div(class="header__logo-image")
                    img(src="https://cdn-icons-png.flaticon.com/512/714/714032.png")
                div(class="header__logo-title") Eagle
            //- menu sider
            button(class="header__button-sider")
                i(class="fa-solid fa-bars")

            //- search
            form(action="" class="header__search")
                input(type="text" placeholder="Search here..." class="")
                button(type="submit" class="")
                    i(class="fa-solid fa-magnifying-glass")

        div(class="header__right")
            //- buttons
            div(class="header__buttons")
                ul
                    li 
                        span
                            i(class="fa-regular fa-sun")
                    li 
                        span
                            i(class="fa-regular fa-bell")
                    li 
                        span
                            i(class="fa-regular fa-comment")
            
            //- user
            div(class="header__user")
                div(class="header__user-avatar")
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEp5IrJqdtZ8jFHUAbxj9RL7Ni-C6tXtuHvQ&s")
                div(class="header__user-title")
                    h3 Giang Trường
                    span Admin
            
            //- setting
            button(class="header__setting")
                i(class="fa-solid fa-gear")