nav(class="sider")
    div(class="sider__wrap")
        //- main 
        div(class="sider__menu")
            div(class="sider__menu-title") MAIN HOME 
            ul
                li 
                    a(href="#" class="")
                        i(class="fa-brands fa-windows")
                        |   Dashboard
        //- page
        div(class="sider__menu")
            div(class="sider__menu-title") ALL PAGE 
            ul 
                li
                    a(href="#" class)
                        i(class="fa-solid fa-cart-shopping")
                        |   Sản Phẩm
                        
                li
                    a(href="#" class)
                        i(class="fa-solid fa-layer-group")
                        |   Danh Mục
                li
                    a(href="#" class)
                        i(class="fa-regular fa-user")
                        |   Tài khoản
                li
                    a(href="#" class)
                        i(class="fa-solid fa-user-plus")
                        |   Nhóm Quyền
        //- setting
        div(class="sider__menu")
            div(class="sider__menu-title") SETTING 
            ul 
                li
                    a(href="#" class)
                        i(class="fa-solid fa-gear")
                        |   Cài đặt 